#index {
  background-color: #00698c;
  color: white; }
  #index #static_input_fields {
    position: fixed;
    top: 150px;
    left: 50px; }
    #index #static_input_fields #stroke_button {
      width: 40px;
      height: 20px;
      border-radius: 5px;
      border: 0;
      padding: 0;
      background-color: dimgray;
      color: gray; }
      #index #static_input_fields #stroke_button:disabled {
        color: lightgray;
        background-color: navy; }
    #index #static_input_fields #fill_button {
      width: 40px;
      height: 20px;
      border-radius: 5px;
      border: 0;
      padding: 0;
      background-color: dimgray;
      color: gray; }
      #index #static_input_fields #fill_button:disabled {
        color: lightgray;
        background-color: navy; }
  #index #input_fields {
    position: fixed;
    top: 200px;
    left: 50px; }
  #index #refresh_canvas {
    position: fixed;
    top: 30px;
    left: 750px;
    background-color: gray;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    height: 50px; }
  #index canvas {
    position: fixed;
    top: 100px;
    left: 600px;
    border: 1px solid #999;
    background-color: white; }
  #index #canvas_code {
    position: fixed;
    background-color: black;
    color: yellow;
    top: 200px;
    left: 50px;
    width: 500px;
    border: 1px solid #999;
    height: 400px;
    font: 100% "Courier New", Courier, monospace;
    overflow: scroll; }
